* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
   /*scroll baja*/
   scroll-behavior: smooth;
}

.container {
  padding: 40px 0;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
}

h2 {
  font-size: 32px;
  color: white;
  text-align: center;
  padding: 30px 0;
}

p {
  font-size: 15px;
  line-height: 1.5;
}

.wave {
  position: absolute;
  bottom: 0%;
  width: 100%;}

header {
  width: 100%;
  height: auto;
  background-image: url(../images/fondo-header.jpg);
  padding-bottom: 50px;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.nav {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.986);
  position: fixed;
  z-index: 2;
}
.nav a {
  font-size: 20px;
  color: #000000;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 10px;
}

.nav a:hover {
  color: #820306;
  border-bottom: 2px solid#820306;
}

.navicon {
  color: #000000;
  font-size: 35px;
  display: none;
}

.navicon:hover {
  color: #820306;
  cursor: pointer;
}

.container-header {
  display: flex;
  padding-top: 65px;
  justify-content: space-evenly;
  align-items: center;
}

.logo-milenium {
  width: 45%;
}

.slogan {
  width: 45%;
}

.slogan h1 {
  font-style: italic;
  font-size: 20px;
  font-weight: 500;
  color: #820306;
}

.logo-milenium img {
  width: 100%;
}

body {
  background-color: #3a0a72;
  color: white;
}

.container-about-us {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.texto-about-us {
  width: 45%;
}

.imagen-about-us {
  width: 45%;
}

.imagen-about-us img {
  width: 100%;
  border-radius: 25px;
}

.fondo-rojo {
  background-image: url(../images/FONDO-ROJO.png);
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
}

.container-como-trabajamos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  margin-top: 30px;
}

.elemento-como-trabajamos {
  width: 30%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.897);
  margin-bottom: 50px;
  color: black;
  border: black solid 1px;
  word-wrap: break-word;
  box-shadow: 0px 1px 18px 3px rgba(0, 0, 0, 0.75);
  padding: 25px;
  border-radius: 10px;
}

.elemento-como-trabajamos i {
  font-size: 50px;
  padding-bottom: 15px;
  color: #820306;
}

.elemento-como-trabajamos i:hover {
  color: #3a0a72;
}

.elemento-como-trabajamos h3 {
  font-size: 25px;
  padding-bottom: 15px;
}

.elemento-como-trabajamos p {
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
}

.container-products {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.fondo-blanco {
  background-image: url(../images/fondo-header.jpg);
  background-attachment: fixed;
  background-size: cover;
}

#titulonegro {
  color: black;
}

.product {
  background-color: #3a0a72;
  color: blanchedalmond;
  width: 30%;
  height: auto;
  padding-bottom: 30px;
  border-radius: 15px;
}

.icon img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.product-description {
  padding: 10px 40px;
}

.product-description h3 {
  padding: 10px;
  text-align: center;
}

button,
#submit {
  background-color: #0bceaf;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover,
#submit:hover {
  background-color: ivory;
  color: #0bceaf;
}

.formulario-contact {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 55px;
}

#submit{
    width: 100%;
}

#nombre,
#email,
#asunto ,
#telefono{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid white;
  border-radius: 4px;
  color: ivory;
  background: none;
  font-size: 15px;
}

#nombre:focus,
#email:focus,
#asunto:focus,
textarea:focus,
#telefono:focus
{
  border: 2px solid #0ca593;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 8px rgba(0, 89, 255, 0.6);
  outline: 0 none;
  background: rgba(0, 0, 0, 0.493)

}

label.error {
  color: rgb(243, 132, 132);
  font-size: 1rem;
  display: block;
  margin-top: 0px;
  margin-bottom: 10px;

}

#nombre.error, #email.error, #asunto.error,textarea.error, #telefono.error {
  border: 1px dashed rgb(243, 169, 169);
  font-weight: 500;
  color: rgb(245, 114, 114);
 
}




textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid whitesmoke;
  border-radius: 4px;
  color: white;
  background: none;
  font-size: 15px;
}

.container-contact {
  display: flex;
  justify-content: space-around;
  flex: wrap;
}

.datos-contact {
  width: 45%;
}
.galeria-superior {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.galeria-ropa {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  flex-wrap: wrap;
}
.imagen {
  width: 30%;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
  border: #82030594 13px solid;
  box-shadow: 0px 1px 18px 3px rgba(0, 0, 0, 0.75);
  background-color: rgb(255, 255, 255);
}

.imagen img {
  width: 100%;
}

.imagen-secundaria {
  width: 100%;
  position: absolute;
  top: 0;
  font-size: 150px;
  background: rgba(206, 81, 64, 0.178);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: transform 0.5s;
}

.imagen:hover {
  border: rgb(175, 13, 2) 13px solid;
}

.imagen:hover .imagen-secundaria {
  transform: scale(1);
}

.cotizador {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#botonCotizador {
  width: 100%;
}

.seccion-deslizante {
  display: none;
  background: rgb(70, 70, 70);
  width: 95%;
  border-radius: 0 0 25px 25px;
  overflow: hidden;
}

.calculadora-cotizador {
  width: 50%;
  padding: 30px 20px;
  display: grid;
  grid-template-columns: 200px 100px 30px 40px;
  gap: 15px;
  align-items: center;
}

.calculadora-cotizador label {
  grid-column: 1 / 2;
}

.calculadora-cotizador input {
  grid-column: 2/ 3;
}

.icono1 {
  grid-column: 3/4;
  background: rgb(160, 22, 4);
  padding: 10px;
  border-radius: 50%;
  font-size: 8px;
  text-align: center;
  color: white;
}
.icono1:hover {
  background: black;
}

.info {
  grid-column: 4/5;
  background: rgb(3, 5, 107);
  padding: 8px;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton-cotizacion {
  background-color: rgb(22, 22, 27);
  width: 380px;
  border-radius: 0;
  margin-bottom: 20px;
}

.fondo-contactanos {
  background-image: url(../images/fondocontactanos.jpg);
  background-attachment: fixed;
  background-size: cover;
}

#boton-interactuar-contacto {
  font-size: 10px;
  padding: 5px 10px;
  margin-left: 5px;
}

ul li {
  margin-bottom: 15px;
}

.icontact {
  padding-left: 5px;
}

.imagen-contacto img {
  width: 100%;
}

.contenedor-footer {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

.titulofinal {
  width: 100%;
}

.titulocopy {
  font-size: 15px;
  color: rgba(255, 255, 240, 0.884);
}

.contenedor-footer i {
  color: mintcream;
}

@media screen and (max-width: 1000px) {
  /* -------------calculadora cotizador----------*/
  .calculadora-cotizador {
    width: 95%;
  }
}

@media screen and (max-width: 670px){

.links {
    display:none;
    padding-top: 40px;

}

.nav{
    padding-bottom: 35px;
}


.links a {
    display: block;
}

.links a:hover {
    background: #55575779;
}
.navicon{
    
    padding: 10px 20px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
    
.navicon:hover{
background: #afafaf;
}
}



@media screen and (max-width: 670px) {
  /* -------------calculadora cotizador----------*/
  .elemento-como-trabajamos {
    width: 45%;
  }

  /* -------------galeria----------*/
  .galeria-ropa {
    width: 100%;
  }

  .cotizador {
    width: 90%;
  }

  /* -------------galeria----------*/

  .product {
    width: 45%;
    margin-top: 25px;
  }
}
@media screen and (max-width: 500px) {
  .container-about-us {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .texto-about-us {
    width: 90%;
  }

  .imagen-about-us {
    margin-top: 30px;
    width: 90%;
  }
  /* -------------galeria----------*/
  .elemento-como-trabajamos {
    width: 90%;
  }
  /* -------------galeria----------*/
  .product {
    width: 90%;
    margin-top: 25px;
  }
  /* -------------galeria----------*/
  .imagen {
    width: 45%;
  }

  .formulario-contact {
    width: 80%;
    margin-bottom: 20px;
  }

  .container-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .datos-contact {
    width: 80%;
  }

  .calculadora-cotizador {
    grid-template-columns: 200px 40px 30px 40px;
    gap: 10px;
  }
}
@media screen and (max-width: 435px) {
  .calculadora-cotizador {
    width: 100%;
    grid-template-columns: 140px 40px 30px 40px;
    gap: 10;
  }

  .calculadora-cotizador label {
    font-size: 12px;
  }

  .cotizador {
    width: 97%;
  }

  .como-trabajamos h2 {
    font-size: 30px;
    padding: 20px;
  }

  .logo-milenium {
    width: 100%;
  }
  
  .slogan {
    width: 40%;
  }
  
  .titulocopy {
    font-size: 10px;
    color: rgba(255, 255, 240, 0.884);
  }
}
